header.header
  .l-default
    .header__wrapper
      .header__logo
        +svgMono("logo")
      //- .header__menu-items
      //-   nav
      //-     ul#top-menu.nav
      //-       li.menu-item
      //-         a(href="https://efic-congress.org/registration/") Registration
      //-       li.menu-item
      //-         a(href="#") Congress Information
      //-         ul.sub-menu
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/financial-aid/") Financial Aid
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/efic2022-welcome-messages/") Welcome to #EFIC2022
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/efic2022-discover-dublin/") Discover Dublin
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/venue/") Our Venue
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/health-and-safety/") Health and Safety
      //-       li.menu-item
      //-         a(href="#") Scientific Information
      //-         ul.sub-menu
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/scientific-programme/") Scientific Programme
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/efic2022-plenary-sessions/") #EFIC2022 Plenary Sessions
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/abstract-submission/") Abstract Submission
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/congress-topics/") Congress Topics
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/efic2022-committee/") Scientific Programme Committee
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/efic2022-workshop-submission/") Workshop Submission
      //-       li.menu-item
      //-         a(href="https://efic-congress.org/news/") News
      //-         ul.sub-menu
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/news/") Newsroom
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/promotional-toolkit/") Promotional Toolkit
      //-           li.menu-item
      //-             a(href="https://efic-congress.org/contact/") Contact
      //-       li.menu-item
      //-         a(href="https://efic-congress.org/sponsors-exhibitors/") Sponsors &amp; Exhibitors
      .header__burger
        +svgMono("burger")
  .header__menu
    .header__menu-container
      .header__menu-top
        .l-menu
          .header__burger
            +svgMono("burger")
