.ico-mono-dropdown-arrow {
  width: 1.5em;
  height: 1em;
  fill: #245675;
}
.ico-mono-facebook {
  width: 0.55em;
  height: 1em;
  fill: #fff;
}
.ico-mono-footer-logo {
  width: 12.33em;
  height: 1em;
  fill: #303030;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo {
  width: 1.13em;
  height: 1em;
  fill: #A1652C;
}
.ico-mono-main-logo {
  width: 1.14em;
  height: 1em;
  fill: #A1652C;
}
.ico-mono-search {
  width: 0.92em;
  height: 1em;
  fill: #239D4A;
}
