section.tweets
  .l-default
    .tweets__wrapper
      h2.tweets__title.title.title--h2.element-animation Tweets from #EFIC2019
      .tweets__list
      .tweets__btn-wrap
        a.tweets__btn.btn(href="https://share.hsforms.com/1Qu1GRfukTNGokRejqd_dbA4hboq", target="_blank") Sign Up Here For All
          br
          | #EFIC2022 Updates