section.first-section
  .l-default--full
    .first-section__headline
      .first-section__deadline.element-animation EARLY BIRD DEADLINE:
        span 15 February 2022
      a.first-section__btn.btn(href="") Get your ticket
  .l-default--full
    .first-section__banner
      +webp('first-section/banner', 'jpg', 'lazy')
    //- .effic2019__list
      //- each effic_item in effic2019
      //-   .effic2019__item.element-animation
      //-     .effic2019__item-num
      //-       span= effic_item.num
      //-       | %
      //-     .effic2019__item-text= effic_item.text