section.first-section
  .l-default--full
    .first-section__headline
      .first-section__deadline.element-animation EARLY BIRD DEADLINE:
        span 15 February 2022
      a.first-section__btn.btn(href="/registration/") Get your ticket
  .l-default--full
    .first-section__banner
      +webp('first-section/banner', 'jpg', 'lazy')