.effic2019 {
  margin-bottom: 180px;

  @media (max-width: 1449px) {
    margin-bottom: 120px;
  }

  @media (max-width: 1199px) {
    margin-bottom: 65px;
  }

  @media (max-width: 991px) {
    margin-bottom: 45px;
  }

  &__headline {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  &__title {
    max-width: 790px;
    margin-right: 170px;
    padding-bottom: 0;
    text-transform: none;
    color: $a-color-green;

    @media (max-width: 1449px) {
      margin-right: 75px;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }

    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__like {
    max-width: 228px;

    @media (max-width: 1449px) {
      max-width: 140px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: grid;
    margin-bottom: 75px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    @media (max-width: 1449px) {
      margin-bottom: 35px;
      grid-gap: 30px;
    }

    @media (max-width: 699px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    animation: textLeft 1s ease;

    &:nth-child(2n) {
      animation: textRight 1s ease;
    }

    &-num {
      margin-right: 40px;
      font-size: 64px;
      font-weight: bold;
      color: $a-color-green;

      @media (max-width: 1449px) {
        margin-right: 20px;
        font-size: 48px;
      }

      @media (max-width: 992px) {
        margin-right: 15px;
        font-size: 32px;
      }

      @media (max-width: 767px) {
        font-size: 24px;
      }

      span {
        font-size: 128px;

        @media (max-width: 1449px) {
          font-size: 98px;
        }

        @media (max-width: 992px) {
          font-size: 64px;
        }

        @media (max-width: 767px) {
          font-size: 48px;
        }
      }
    }

    &-text {
      font-size: 32px;
      font-weight: 600;
      line-height: 39px;

      @media (max-width: 1449px) {
        font-size: 24px;
        line-height: 1.45;
      }

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__btn {
    width: max-content;
    padding-right: 70px;
    padding-left: 70px;

    @media (max-width: 767px) {
      padding: 10px 25px;
    }

    @media (max-width: 575px) {
      padding: 10px 15px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
