.why-attend {
  margin-bottom: 180px;

  @media (max-width: 1449px) {
    margin-bottom: 120px;
  }

  @media (max-width: 1449px) {
    margin-bottom: 65px;
  }

  @media (max-width: 991px) {
    margin-bottom: 45px;
  }

  &__title {
    margin: 0 auto 60px;
    text-align: center;
    color: $a-color-green;

    @media (max-width: 992px) {
      margin: 0 auto 35px;
    }
  }

  &__list {
    display: grid;
    margin-bottom: 180px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 76px;

    @media (max-width: 1449px) {
      margin-bottom: 90px;
      grid-gap: 20px;
    }

    @media (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media (max-width: 699px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      margin-bottom: 45px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &.element-animation.element-show {
      opacity: 1;
      transition: opacity 1s;
      animation: textLeft 1s ease;
    }

    &:nth-child(2n) {
      &.element-animation.element-show {
        opacity: 1;
        transition: opacity 1s;
        animation: textRight 1s ease;
      }
    }

    &-icon {
      width: 120px;
      margin-right: 30px;
      flex: none;

      @media (max-width: 1449px) {
        width: 110px;
        margin-right: 20px;
      }

      @media (max-width: 1200px) {
        width: 85px;
      }

      @media (max-width: 992px) {
        width: 64px;
      }

      @media (max-width: 767px) {
        width: 48px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
    }

    &-title {
      max-width: 385px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.45;

      @media (max-width: 991px) {
        font-size: 16px;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;

    @media (max-width: 1099px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    @media (max-width: 574px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__button {
    text-transform: uppercase;

    br {
      @media (max-width: 1099px) {
        display: none;
      }
    }
  }
}
