footer.footer
  .l-default
    .footer__wrapper
      .footer__col
        a.footer__logo(href="https://efic-congress.org/")
          img(src="img/footer/logo.png", alt="")
      .footer__col
        .footer__info
          | Rue de Londres - Londenstraat 18
          br
          | B1050 Brussels
          br
          | Phone:
          |
          a(href="tel:+3222515510") +32 2 251 55 10
          br
          | E-mail:
          |
          a(href="mailto:secretary@efic.org") secretary@efic.org
      .footer__col
        .footer__logos
          a.footer__logos-item(href="https://www.meetinireland.com/" target="_blank" rel="nofollow")
            img(src="img/footer/logo-01.jpg", alt="")
          a.footer__logos-item(href="https://www.meetinireland.com/" target="_blank" rel="nofollow")
            img(src="img/footer/logo-02.jpg", alt="")
        .footer__policy © European Pain Federation EFIC |
          |
          |
          a(href="https://efic-congress.org/how-we-work/privacy-policy/" target="_blank") Privacy Policy
      .footer__col
        .footer__socials
          a.footer__socials-item(href="https://www.facebook.com/EFICorg" target="_blank" rel="nofollow")
            img(src="img/footer/fb.svg", alt="")
          a.footer__socials-item(href="https://twitter.com/EFIC_org" target="_blank" rel="nofollow")
            img(src="img/footer/tw.svg", alt="")
          a.footer__socials-item(href="" target="_blank" rel="nofollow")
            img(src="img/footer/ld.svg", alt="")
          a.footer__socials-item(href="https://www.instagram.com/efic_org/" target="_blank" rel="nofollow")
            img(src="img/footer/inst.svg", alt="")
