-
  const attend = [
    {
      title: "RESEARCHERS",
      text: "EFIC is the largest cutting-edge pain research congress in Europe",
      img: "01"
    },
    {
      title: "CLINICIANS",
      text: "Discuss recent clinical findings with renowned experts in their field and refresh your basic pain practice knowledge",
      img: "02"
    },
    {
      title: "ALLIED PROFESSIONALS",
      text: "EFIC promotes interprofessionalism and all healthcare professionals will benefit and find content to their needs",
      img: "03"
    },
    {
      title: "GENERAL PRACTICIONERS",
      text: "In 2022 we are adding a special focus for GPs, providing generalists with the information they need to understand pain",
      img: "04"
    }
  ]

section.who-attend
  .l-default
    .who-attend__wrapper
      h2.who-attend__title.title.title--h2.element-animation Who Should Attend #EFIC2022?
      .who-attend__list
        each attend_item in attend
          .who-attend__item.element-animation
            .who-attend__item-image
              +webp('who-attend/' + attend_item.img, 'jpg', 'lazy')
            .who-attend__item-info
              .who-attend__item-title= attend_item.title
              .who-attend__item-text= attend_item.text